//====================================================================================================
.intro {
  //height: 600px;
  border: 1px solid #fff;
  padding-top: 80px;
  &__body {
    display: flex;
    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex: 0 0 50%;
    padding: 0 20px;
  }

  &__logo {
    flex: 1 1 auto;
    padding-bottom: 33%;
    z-index: -1;
  }

  &__text {
    @include adaptiv-value('font-size', 27, 14, 1);
    color: #FFF;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 30/27 * 1em;
    }
  }

  &__labels {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__image {
    padding: 0 10px;
    img {
      @include adaptiv-value('height', 70, 30, 1);
      @include adaptiv-value('width', 70, 30, 1);
    }
  }

  &__main-image {
    flex: 0 0 50%;
    z-index: -1;
  }

}

.intro-hand {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__image {
    padding-bottom: 87%;
    opacity: 0.65
  }
  @media (max-width: $md3+px) {
    padding: 0 20%;
  }
  @media (max-width: $md4+px) {
    display: none;
  }
}

//====================================================================================================
